$colors: (
	primary: (
		'color-bright-blue': hsl(220, 98%, 61%),
		'color-gradient-first': hsl(192, 100%, 67%),
		'color-gradient-second': hsl(280, 87%, 65%),
	),
	light-theme: (
		'color-very-light-gray': hsl(0, 0%, 98%),
		'color-very-light-grayish-blue': hsl(236, 33%, 92%),
		'color-light-grayish-blue': hsl(233, 11%, 84%),
		'color-dark-grayish-blue': hsl(236, 9%, 61%),
		'color-very-dark-grayish-blue': hsl(235, 19%, 35%),
	),
	dark-theme: (
		'color-very-dark-blue': hsl(235, 21%, 11%),
		'color-very-dark-desaturated-blue': hsl(235, 24%, 19%),
		'color-light-grayish-blue': hsl(234, 39%, 85%),
		'color-light-grayish-blue:hover': hsl(236, 33%, 92%),
		'color-dark-grayish-blue': hsl(234, 11%, 52%),
		'color-very-dark-grayish-blue': hsl(233, 14%, 35%),
		'color-very-darker-grayish-blue': hsl(237, 14%, 26%),
	),
);

$font-size: 62.5%;

$weights: (
	'300': 300,
	'400': 400,
	'500': 500,
	'700': 700,
);

$font-family: 'Josefin Sans', sans-serif;

// - Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
// - Weights: 400, 700
